<!DOCTYPE html>
<html lang="kr">
  <head>
      <meta charset="utf-8">
      <title>더 알아보기</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
      <style>
        html, body {height: 100%;}
        body {font-family: 'Noto Sans KR', sans-serif; display: flex; flex-direction: column;}
        header, section {margin-left: 10px;}
        .header {background-color: #51FFA6; color: white; text-align: center;}
        .footer {background-color: lightcoral; color: white; text-align: center; flex-shrink: 0;}
        .introduction {display: flex;}
        #main {flex: 1;}
      </style>
  </head>
  <body>
    <div class="header">
      <h1>소개합니다!</h1>
    </div>
    <div id="main">
      <header>
        <p>안녕하십니까,<br>
          저는 한다면 하는 남자(줄여서 <em><del>한남</del></em>) <strong>복영규</strong>라고 합니다!<br>
          앞으로 멋사에서 활동하게 되어 매우 기쁘고 부족하지만 열심히 노력하겠습니다!
        </p>
        <div class="introduction">
          <img src="YG.JPG" alt="제가 LA에 있을 때..." style="height: 150px; width: 150px; border: 1px solid; margin-right: 10px;">
          <table>
            <tr>
              <td>
                <p><a href="https://www.facebook.com/profile.php?id=100010057967321" target="_blank" style="margin-right: 10px;">복영규</a>평범한 대학생<br>
                  나이: <strong>20살</strong> 조금 더 됨<br>
                  전공: 1트랙 경영공학, 2트랙 컴퓨터공학<br>
                  거주지: 경기도 부천<br>
                  취미: 인터넷 게임, Netflix<br>
                  <div class="btn-group" role="group"><p style="margin-right: 10px;">더 알아보기:</p>
                    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="border-radius: 5px;">사이트
                    </button>
                      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="https://www.facebook.com/profile.php?id=100010057967321" target="_blank">페이스북</a>
                        <a class="dropdown-item" href="https://www.op.gg/summoner/userName=%EB%AA%B8%EC%97%90%EC%A2%8B%EC%9D%80%EC%9A%B0%EC%97%89%EC%B0%A8" target="_blank">롤 전적</a>
                      </div>
                    </div>
                  </p>
                </td>
              </tr>
            </table>
          </div>
      </header>
      <hr>
      <section>
        <article style="flex: 1;">
          <h4>멋사에 와서 이루고 싶은 3가지</h4>
          <ul>
            <li>열정적인 사람들과 교류하며 영감 얻기</li>
            <li>웹코딩 마스터하기</li>
            <li>창업해보기</li>
          </ul>
        </article>
      </section>
      <a href="{%url 'home'%}">다시 홈으로</a>
    </div>
    <footer class="footer">
      <h1>감사합니다!</h1>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
